<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Barcode Category"
            id="barcodeGenerator">
      </category>
      <view
            name="Barcode View"
            icon="icons/sample.gif"
            category="barcodeGenerator"
            class="barcodegenerator.views.BarcodeView"
            id="barcodegenerator.views.BarcodeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="barcodegenerator.views.BarcodeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edu.ualberta.med.biobank.menu.additions">
         <menu
               id="edu.ualberta.med.barcodegenerator.menu.barcodegenerator"
               label="Barcode Generator">
            <command
                  commandId="edu.ualberta.med.barcodegenerator.commands.barcodegenerator"
                  icon="icons/table_lightning.png"
                  id="edu.ualberta.med.barcodegenerator.menu.makelabels"
                  label="Make Labels"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ualberta.med.biobank.barcodegenerator.handlers.BarcodeGeneratorHandler"
            id="edu.ualberta.med.barcodegenerator.commands.barcodegenerator"
            name="Make Labels">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.BarcodeView"
            name="Barcode Label Maker"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ualberta.med.biobank.barcodegenerator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
