<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Barcode Category"
            id="barcodeGenerator">
      </category>
      <view
            name="Label Printer"
            icon=""
            category="barcodeGenerator"
            class="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="false"
               id="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
               minimized="false"
               moveable="false"
               ratio="1"
               relationship="top"
               relative="org.eclipse.ui.views.TaskList"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edu.ualberta.med.biobank.menu.additions">
         <menu
               id="edu.ualberta.med.barcodegenerator.menu.barcodegenerator"
               label="Label Editor">
            <command
                  commandId="edu.ualberta.med.barcodegenerator.commands.labelprinter"
                  icon=""
                  id="edu.ualberta.med.barcodegenerator.menu.labelprinter"
                  label="Label Printer Label"
                  style="push">
            </command>
            <command
                  commandId="edu.ualberta.med.barcodegenerator.commands.templateditor"
                  icon=""
                  id="edu.ualberta.med.barcodegenerator.menu.templateditor"
                  label="Template Editor Label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ualberta.med.biobank.barcodegenerator.handlers.LabelPrinterHandler"
            id="edu.ualberta.med.barcodegenerator.commands.labelprinter"
            name="Label Printer Command">
      </command>
     <command
            defaultHandler="edu.ualberta.med.biobank.barcodegenerator.handlers.TemplateEditorHandler"
            id="edu.ualberta.med.barcodegenerator.commands.templateditor"
            name="Template Editor Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            name="Label Printer View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.barcodegenerator.views.TemplateEditorView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.TemplateEditorView"
            name="Template Editor View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ualberta.med.biobank.barcodegenerator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
