<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Barcode Category"
            id="barcodeGenerator">
      </category>
      <view
            name="Print Patient Barcodes"
            category="barcodeGenerator"
            class="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="barcodeGenerator.perspective.labeprinter">
         <view
               closeable="true"
               id="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
               minimized="false"
               moveable="true"
               ratio="1"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="barcodeGenerator.perspective.templateeditor">
         <view
               id="edu.ualberta.med.biobank.barcodegenerator.views.TemplateEditorView"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edu.ualberta.med.biobank.menu.additions">
         <menu
               id="edu.ualberta.med.barcodegenerator.menu.barcodegenerator"
               label="Barcode Printing">
            <command
                  commandId="edu.ualberta.med.barcodegenerator.commands.labelprinter"
                  id="edu.ualberta.med.barcodegenerator.menu.labelprinter"
                  label="Print Patient Barcodes"
                  style="push">
            </command>
            <command
                  commandId="edu.ualberta.med.barcodegenerator.commands.templateditor"
                  id="edu.ualberta.med.barcodegenerator.menu.templateditor"
                  label="Edit Printer Templates"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.ualberta.med.biobank.barcodegenerator.handlers.LabelPrinterHandler"
            commandId="edu.ualberta.med.barcodegenerator.commands.labelprinter">
         <enabledWhen>
               <reference
                     definitionId="edu.ualberta.med.biobank.gui.common.loggedIn">
               </reference>
         </enabledWhen>
      </handler>
      <handler
            class="edu.ualberta.med.biobank.barcodegenerator.handlers.TemplateEditorHandler"
            commandId="edu.ualberta.med.barcodegenerator.commands.templateditor">
         <enabledWhen>
               <reference
                     definitionId="edu.ualberta.med.biobank.gui.common.loggedIn">
               </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.ualberta.med.barcodegenerator.commands.labelprinter"
            name="Label Printer Command">
      </command>
     <command
            id="edu.ualberta.med.barcodegenerator.commands.templateditor"
            name="Template Editor Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.LabelPrinterView"
            name="Label Printer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.barcodegenerator.views.TemplateEditorView"
            id="edu.ualberta.med.biobank.barcodegenerator.views.TemplateEditorView"
            name="Printer Templates Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ualberta.med.biobank.barcodegenerator.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.ualberta.med.biobank.barcodegenerator.perspective.LabelPrinterPerspective"
            id="barcodeGenerator.perspective.labeprinter"
            name="Label Printer View">
      </perspective>
      <perspective
            class="edu.ualberta.med.biobank.barcodegenerator.perspective.TemplateEditorPerspective"
            id="barcodeGenerator.perspective.templateeditor"
            name="TemplateEditor">
      </perspective>
   </extension>

</plugin>
